* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  width: 100vw;
  height: calc(100vw * 9 / 16);
  background-image: url(../img/Desert-Background.jpg);
  background-repeat: no-repeat;
  background-size: 100vw calc(100vw * 9 / 16);
  overflow: hidden;
  position: relative;
}

body > div {
  position: absolute;
}

.terreno {
  bottom: 20%;
  background-color: red;
  width: 8%;
  height: 20%;
}

#uomo1 {
  left: 10%;
}
#uomo2 {
  left: 46%;
}
#uomo3 {
  left: 82%;
}
