* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  width: 100vw;
  height: calc(100vw * 9 / 16);
  background-image: url(../img/Desert-Background.jpg);
  background-repeat: no-repeat;
  background-size: 100vw calc(100vw * 9 / 16);
  overflow: hidden;
  position: relative;
}

body > img {
  position: absolute;
}

#sipariotop {
  z-index: 1;
  position: fixed;
  top: 0;
  width: 100%;
  height: calc(100vw * 9 / 16 * 0.17);
}

#sipariosx {
  position: fixed;
  left: 0;
  top: 5vw;
  height: calc(91vw * 9 / 16);
  width: 10%;

}
#sipariodx {
  position: fixed;
  right: 0;
  top: 5vw;
  height: calc(91vw * 9 / 16);
  width: 10%;

}


.aircraft {
  top: 22%;
}
.bird {
  bottom: 49%;
}
.ground {
  bottom: 20%;
}
#air1 {
  left: 25%;
  width: 25%;
}
#air2 {
  left: 55%;
  width: 25%;
}
#eagle {
  left: 10%;
  width: 23%;
}
#black-eagle {
  left: 42%;
  width: 23%;
}
#owl {
  left: 73%;
  width: 17%;
}
#gunman1 {
  left: 10%;
  width: 19%;
}
#gunman2 {
  left: 42%;
  width: 18%;
}
#gunman3 {
  left: 75%;
  width: 12%;
}
